.table{
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    -webkit-box-shadow: -8px 10px 15px -5px rgba(0,0,0,0.24);
    box-shadow: -8px 10px 15px -5px #7451f8;
    -moz-box-shadow: -8px 10px 15px -5px rgba(0,0,0,0.24);

}

.red-row {
    background-color: red;
  }
  
  .orange-row {
    background-color:  orange;
  }