.table{
    

    .th{
        font-weight: 300;
        position: sticky;
        color: gray;
    }

.status{
    padding: 5px;
    border-radius: 5px;

    &.Approved{
        color: green;
        background-color: rgba(0,128,0,0.15);
    }
    &.Pending{
        color: goldenrod;
        background-color: rgba(189,189,3,0.15);
    }
    &.Rejected{
        color: #ff4500;
        background-color: #ff450015;
    }
}

}



