.Sidebar{
    // background-color: lightcoral;
    flex:1;
    .top{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo{
            background-color: black;
            display: flex;
            width:40%;
            height:50%;
        }
    }
}