.avatarContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  
  .avatar {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  
  .profilepic {
    cursor: pointer;
    color: #1976d2;
  }
  


.register {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow: auto; /* Add overflow property */
  }
.register {
    background-color: white;
    background-image: radial-gradient(lightgrey 2px, transparent 2px),
      radial-gradient(lightgrey 2px, transparent 2px);
    background-size: 50px 50px;
    background-position: 0 0, 25px 25px;
    opacity: 0.8;
  }
  

.registerTitle{
    font-size: 35PX;
    align-self: center;}

.registerForm {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgb(229, 229, 229);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 35%;
  overflow: auto; /* Add overflow property */
}
@media only screen and (max-width: 768px) {
    .registerForm {
      width: 80%; /* Adjust width for smaller screens */
    }
  }

.registerForm>label{
    margin: 10px  0;
}

.registerInput{
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
    
}
.profilepic{
    cursor: pointer;
}

.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: #D1E9F9;
    border: none;
    color:navy;
    border-radius: 10px;
    padding: 10px;

    &:disabled{
       background-color: rgba(255, 0, 0, 0.484); 
       cursor: not-allowed;
    }
}

.registerRegisterButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    border: none;
    padding: 10px;
    color:white;
    border-radius: 10px;
}

